.tasks {
    margin: 10px;
    padding: 10px 20px;

    border: 1px solid #605656;
    border-radius: 16px;

    &__title {
        font-size: 32px;
        margin-bottom: 10px;
    }

    &__add {
        display: flex;
        gap: 8px;
        align-items: center;
        margin: 16px 0;

        &__button {
            border: none;
            border-radius: 4px;
            padding: 4px;
            background-color: #605656;
            color: white;
            height: 24px;
            cursor: pointer;
        }

        &__input{
            height: 24px;
        }

        &__label{

        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        padding: 0;

        &__item {
            display: flex;
            align-items: center;
            gap: 10px;

            border: 1px solid #605656;
            border-radius: 8px;

            padding: 10px;

            background-color: #605656;
            color: white;

            &--done {
                background-color: #44874e;
                text-decoration: line-through;
            }
        }
    }
}